In [2]:
import pandas as pd
import seaborn as sns

df=pd.read_csv("Speed_Dating_Data.csv")

In [3]:
print(df.shape)

(8378, 195)

In [4]:
#Select Important Features for later Feature Selection
df_select=df[['iid','gender', 'age', 'imprace', 'imprelig', 'goal', 'date',
       'go_out', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art',
       'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies',
       'concerts', 'music', 'shopping', 'yoga', 'exphappy', 'attr3_1',
       'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1']]

In [124]:
#Find & Visualize Missing Values
df_select.isnull().sum()

iid           0
gender        0
age          95
imprace      79
imprelig     79
goal         79
date         97
go_out       79
sports       79
tvsports     79
exercise     79
dining       79
museums      79
art          79
hiking       79
gaming       79
clubbing     79
reading      79
tv           79
theater      79
movies       79
concerts     79
music        79
shopping     79
yoga         79
exphappy    101
attr3_1     105
sinc3_1     105
fun3_1      105
intel3_1    105
amb3_1      105
dtype: int64

In [6]:
#Separate into Male & Female Datasets
df_female=df_select[df_select["gender"]==0].groupby("iid", as_index=False).mean()
df_male=df_select[df_select["gender"]==1].groupby("iid", as_index=False).mean()

In [117]:
df_female.head()

,iid,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,...,concerts,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,1,0,21.0,2.0,4.0,2.0,7.0,1.0,9.0,2.0,...,10.0,9.0,8.0,1.0,3.0,6.0,8.0,8.0,8.0,7.0
1,2,0,24.0,2.0,5.0,1.0,5.0,1.0,3.0,2.0,...,7.0,8.0,3.0,1.0,4.0,7.0,5.0,10.0,8.0,3.0
2,3,0,25.0,8.0,4.0,6.0,3.0,1.0,3.0,8.0,...,7.0,5.0,8.0,7.0,4.0,8.0,9.0,8.0,9.0,8.0
3,4,0,23.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,8.0,7.0,1.0,8.0,1.0,7.0,8.0,9.0,7.0,8.0
4,5,0,21.0,8.0,1.0,2.0,4.0,1.0,7.0,4.0,...,3.0,7.0,8.0,3.0,7.0,6.0,3.0,6.0,10.0,8.0

In [118]:
df_male.head()

,iid,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,...,concerts,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,11,1,27.0,7.0,3.0,1.0,5.0,4.0,8.0,7.0,...,7.0,8.0,5.0,1.0,7.0,8.0,9.0,7.0,8.0,5.0
1,12,1,22.0,1.0,1.0,1.0,1.0,1.0,9.0,7.0,...,7.0,9.0,5.0,5.0,7.0,9.0,9.0,9.0,10.0,9.0
2,13,1,22.0,3.0,5.0,2.0,7.0,1.0,7.0,8.0,...,9.0,9.0,8.0,1.0,3.0,4.0,7.0,8.0,8.0,3.0
3,14,1,23.0,1.0,1.0,2.0,4.0,1.0,10.0,6.0,...,6.0,8.0,6.0,1.0,8.0,9.0,9.0,9.0,9.0,9.0
4,15,1,24.0,3.0,1.0,1.0,4.0,1.0,9.0,7.0,...,6.0,7.0,2.0,1.0,5.0,7.0,7.0,7.0,9.0,9.0

In [7]:
#Impute Missing Values
from sklearn.impute import SimpleImputer
import numpy as np

imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
df_female_impute=imputer.fit_transform(df_female)

In [8]:
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
df_male_impute=imputer.fit_transform(df_male)

In [9]:
#Put matrix info into dataframe format
df_female_imputed=pd.DataFrame(df_female_impute)

#Rename column name
df_female_imputed.columns=df_female.columns

In [10]:
#Put matrix info into dataframe format
df_male_imputed=pd.DataFrame(df_male_impute)

#Rename column name
df_male_imputed.columns=df_male.columns

In [11]:
#Reset Index
df_female_model=df_female_imputed.groupby("iid").mean()
df_male_model=df_male_imputed.groupby("iid").mean()

In [119]:
df_female_model.head()

,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,exercise,...,concerts,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
iid,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,21.0,2.0,4.0,2.0,7.0,1.0,9.0,2.0,8.0,...,10.0,9.0,8.0,1.0,3.0,6.0,8.0,8.0,8.0,7.0
2.0,0.0,24.0,2.0,5.0,1.0,5.0,1.0,3.0,2.0,7.0,...,7.0,8.0,3.0,1.0,4.0,7.0,5.0,10.0,8.0,3.0
3.0,0.0,25.0,8.0,4.0,6.0,3.0,1.0,3.0,8.0,7.0,...,7.0,5.0,8.0,7.0,4.0,8.0,9.0,8.0,9.0,8.0
4.0,0.0,23.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,6.0,...,8.0,7.0,1.0,8.0,1.0,7.0,8.0,9.0,7.0,8.0
5.0,0.0,21.0,8.0,1.0,2.0,4.0,1.0,7.0,4.0,7.0,...,3.0,7.0,8.0,3.0,7.0,6.0,3.0,6.0,10.0,8.0

In [120]:
df_male_model.head()

,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,exercise,...,concerts,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
iid,,,,,,,,,,,,,,,,,,,,,
11.0,1.0,27.0,7.0,3.0,1.0,5.0,4.0,8.0,7.0,2.0,...,7.0,8.0,5.0,1.0,7.0,8.0,9.0,7.0,8.0,5.0
12.0,1.0,22.0,1.0,1.0,1.0,1.0,1.0,9.0,7.0,9.0,...,7.0,9.0,5.0,5.0,7.0,9.0,9.0,9.0,10.0,9.0
13.0,1.0,22.0,3.0,5.0,2.0,7.0,1.0,7.0,8.0,2.0,...,9.0,9.0,8.0,1.0,3.0,4.0,7.0,8.0,8.0,3.0
14.0,1.0,23.0,1.0,1.0,2.0,4.0,1.0,10.0,6.0,8.0,...,6.0,8.0,6.0,1.0,8.0,9.0,9.0,9.0,9.0,9.0
15.0,1.0,24.0,3.0,1.0,1.0,4.0,1.0,9.0,7.0,9.0,...,6.0,7.0,2.0,1.0,5.0,7.0,7.0,7.0,9.0,9.0

In [12]:
#Standard Scaling of Female Set
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rescaled = scaler.fit_transform(df_female_model)

df_train_f=pd.DataFrame(rescaled)

#Rename column names
df_train_f.columns = df_female_model.columns

#Reset index
df_train_f.index+=1

#Standard Scaling of Male Set
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rescaled = scaler.fit_transform(df_male_model)

df_train_m=pd.DataFrame(rescaled)

#Rename column names
df_train_m.columns = df_male_model.columns

#Reset index
df_train_m.index+=1

In [13]:
#Try female, with all 10 combination
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import itertools

#Change tuple into List (x is tuple)
def tolist(x):
    lst = []
    for i in x:
        lst.append(i)
    return lst

#Empty List to store interest combinations & silhouette score
interest_f = []
score_f = []

#Put combinations into Kmeans to find the best combo with highest silhouette score
for feature in itertools.combinations(df_train_f.iloc[:,1:-5].columns,3):
    df_combo=pd.concat([df_train_f[['attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1']],df_train_f.loc[:,tolist(feature)]], axis=1)
    km=KMeans(n_clusters=2, random_state=45)
    km.fit(df_combo)
    
    label=','.join(df_combo.columns)+' k='+str(2)
    interest_f.append(label)
    score_f.append(silhouette_score(df_combo, km.predict(df_combo)))

In [157]:
print("[Female]")
print(f'Max. Silhouette Score:     {max(score_f)}')
print(f'Best-Performing Combo with # of Clusters:    {interest_f[score_f.index(max(score_f))]}')
print(f'Number of Combinations:     {len(score_f)}')

[Female]
Max. Silhouette Score:     0.19567640181118895
Best-Performing Combo with # of Clusters:    attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dining,museums,art k=2
Number of Combinations:     2024

In [14]:
#Try male, with all 10 combination
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import itertools

#Change tuple into List (x is tuple)
def tolist(x):
    lst = []
    for i in x:
        lst.append(i)
    return lst

#Empty List to store interest combinations & silhouette score
interest_m = []
score_m = []

#Put combinations (except self-perception features) into Kmeans to find the best combo with highest silhouette score
for feature in itertools.combinations(df_train_m.iloc[:,1:-5].columns,3):
    df_combo=pd.concat([df_train_m[['attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1']],df_train_m.loc[:,tolist(feature)]], axis=1)
    km=KMeans(n_clusters=2, random_state=45)
    km.fit(df_combo)
    
    label=','.join(df_combo.columns)+' k='+str(2)
    interest_m.append(label)
    score_m.append(silhouette_score(df_combo, km.predict(df_combo)))

In [158]:
print("[Male]")
print(f'Max. Silhouette Score:     {max(score_m)}')
print(f'Best-Performing Combo with # of Clusters:    {interest_m[score_m.index(max(score_m))]}')
print(f'Number of Combinations:     {len(score_m)}')

[Male]
Max. Silhouette Score:     0.24279287609099617
Best-Performing Combo with # of Clusters:    attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,date,go_out,dining k=2
Number of Combinations:     2024

In [15]:
#Reduce Dimensions in Remaining Features - Female
#Female: attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dining,museums,art k=2

from sklearn.decomposition import PCA
pca = PCA(n_components=2)

df_features_pca_f=df_train_f[['age', 'imprace', 'imprelig', 'goal', 'date','go_out', 'sports', 'tvsports', 'exercise', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies','concerts', 'music', 'shopping', 'yoga', 'exphappy']]

components=pca.fit_transform(df_features_pca_f)
principalDf=pd.DataFrame(data=components, columns=['pca_1','pca_2'])
principalDf.index+=1

In [17]:
principalDf.index=df_female_model.index

In [18]:
#Add PCA Features into Female Dataset
df_female_add_pca = pd.concat([df_female_model,principalDf],axis=1)

In [20]:
df_female_add_pca.to_csv("df_female_add_pca.csv")

In [21]:
#Reduce Dimensions in Remaining Features - Male
#Male: attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,date,go_out,dining k=2

from sklearn.decomposition import PCA
pca = PCA(n_components=2)

df_features_pca_m=df_train_m[['age', 'imprace', 'imprelig', 'goal', 'sports', 'tvsports', 'exercise', 'museums', 'art','hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies','concerts', 'music', 'shopping', 'yoga', 'exphappy']]

components=pca.fit_transform(df_features_pca_m)
principalDf=pd.DataFrame(data=components, columns=['pca_1','pca_2'])
principalDf.index+=1

In [122]:
principalDf

          pca_1     pca_2
iid
11.0   0.518133  0.351959
12.0   0.045061 -1.641835
13.0  -0.897906 -1.163761
14.0   0.896231 -3.246724
15.0   0.608790 -1.726577
...         ...       ...
548.0  2.328547 -0.655678
549.0 -2.009034 -1.213913
550.0  0.167926  1.385528
551.0  1.074975  1.633181
552.0 -3.408455  0.360874

[277 rows x 2 columns]

In [23]:
#Add PCA Features into Male Dataset
principalDf.index=df_male_model.index
df_male_add_pca=pd.concat([df_male_model,principalDf],axis=1)

In [123]:
df_male_add_pca.head()

,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,exercise,...,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,pca_1,pca_2
iid,,,,,,,,,,,,,,,,,,,,,
11.0,1.0,27.0,7.0,3.0,1.0,5.0,4.0,8.0,7.0,2.0,...,5.0,1.0,7.0,8.0,9.0,7.0,8.0,5.0,0.518133,0.351959
12.0,1.0,22.0,1.0,1.0,1.0,1.0,1.0,9.0,7.0,9.0,...,5.0,5.0,7.0,9.0,9.0,9.0,10.0,9.0,0.045061,-1.641835
13.0,1.0,22.0,3.0,5.0,2.0,7.0,1.0,7.0,8.0,2.0,...,8.0,1.0,3.0,4.0,7.0,8.0,8.0,3.0,-0.897906,-1.163761
14.0,1.0,23.0,1.0,1.0,2.0,4.0,1.0,10.0,6.0,8.0,...,6.0,1.0,8.0,9.0,9.0,9.0,9.0,9.0,0.896231,-3.246724
15.0,1.0,24.0,3.0,1.0,1.0,4.0,1.0,9.0,7.0,9.0,...,2.0,1.0,5.0,7.0,7.0,7.0,9.0,9.0,0.608790,-1.726577

In [25]:
df_male_add_pca.to_csv("df_male_add_pca.csv")

In [26]:
#Standard Scaling (2) of Female Set
df_scale_f=df_female_add_pca[['attr3_1','sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1','dining','museums','art', 'pca_1', 'pca_2']]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rescaled2 = scaler.fit_transform(df_scale_f)

df_scaled_f=pd.DataFrame(rescaled2)
df_scaled_f.columns=['attr3_1','sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1','dining','museums','art', 'pca_1', 'pca_2']
df_scaled_f.index=df_female_model.index

In [112]:
df_scaled_f

,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dining,museums,art,pca_1,pca_2
iid,,,,,,,,,,
1.0,-0.943475,-0.347773,0.071613,-0.281848,-0.389435,0.537215,-3.416412,-3.077158,0.131083,-0.770152
2.0,-0.184162,-2.566895,1.493266,-0.281848,-2.859699,1.168266,0.291429,-0.604770,0.674289,0.572543
3.0,0.575152,0.391935,0.071613,0.674295,0.228131,-0.093837,-1.297646,-1.099248,-0.013587,-0.913747
4.0,-0.184162,-0.347773,0.782440,-1.237991,0.228131,-0.724888,-0.767954,-0.110292,0.555938,1.011647
5.0,-0.943475,-4.046310,-1.350040,1.630437,0.228131,-0.724888,-0.767954,0.384185,0.179920,-1.980628
...,...,...,...,...,...,...,...,...,...,...
526.0,-3.221415,-1.827188,0.782440,-1.237991,1.463263,1.168266,1.350812,-0.110292,-0.002253,1.286002
527.0,2.093778,1.131642,1.493266,1.630437,1.463263,-0.093837,-0.238263,-0.110292,-0.031152,0.288713
528.0,1.334465,-1.827188,0.071613,-0.281848,0.228131,-3.880144,-2.886720,-2.582681,2.101665,-2.122712
529.0,-0.943475,1.131642,0.782440,-1.237991,-1.624567,1.168266,0.291429,0.384185,-0.136425,-0.470536
530.0,-3.221415,0.391935,0.782440,0.674295,-0.389435,-1.355939,-2.357029,0.384185,-0.937654,-0.435501

In [33]:
#Standard Scaling (2) of Male Set
df_scale_m=df_male_add_pca[['attr3_1','sinc3_1','fun3_1','intel3_1','amb3_1','date','go_out','dining', 'pca_1', 'pca_2']]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
rescaled2 = scaler.fit_transform(df_scale_m)

df_scaled_m=pd.DataFrame(rescaled2)
df_scaled_m.columns=['attr3_1','sinc3_1','fun3_1','intel3_1','amb3_1','date','go_out','dining', 'pca_1', 'pca_2']
df_scaled_m.index=df_male_model.index

In [113]:
df_scaled_m

,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,date,go_out,dining,pca_1,pca_2
iid,,,,,,,,,,
11.0,0.743020,0.628910,-0.311964,-0.429307,-1.325034,0.112379,1.612112,-0.760039,0.271734,0.236080
12.0,1.447475,0.628910,0.917938,1.380387,0.773575,-2.624669,-1.011147,0.317336,0.023632,-1.101275
13.0,-2.074800,-0.777794,0.302987,-0.429307,-2.374339,1.480902,-1.011147,0.856023,-0.470906,-0.780603
14.0,1.447475,0.628910,0.917938,0.475540,0.773575,-0.571883,-1.011147,0.317336,0.470027,-2.177769
15.0,0.038565,-0.777794,-0.311964,0.475540,0.773575,-0.571883,-1.011147,-0.221351,0.319279,-1.158117
...,...,...,...,...,...,...,...,...,...,...
548.0,2.151930,1.332262,1.532888,1.380387,1.298227,0.796641,-1.011147,1.394710,1.221204,-0.439802
549.0,0.038565,1.332262,0.302987,0.475540,0.773575,1.480902,-1.011147,0.856023,-1.053635,-0.814243
550.0,0.038565,-0.777794,-0.311964,-1.334154,-0.275730,-0.571883,-1.011147,0.856023,0.088068,0.929355
551.0,0.038565,-0.074442,-2.771767,-0.429307,-1.325034,0.796641,0.737692,-0.760039,0.563770,1.095471
552.0,0.743020,-0.777794,-0.926915,-1.334154,-0.275730,-1.940407,-1.011147,1.394710,-1.787560,0.242060

In [49]:
#Clustering with KMeans - Female
df_female_model2 = df_scaled_f

interest_f2 = []
score_f2 = []

for k in range(2,11):
    km=KMeans(n_clusters=k)
    km.fit(df_female_model2)
    label = ','.join(df_female_model2.columns)+' k='+str(k)
    interest_f2.append(label)
    score_f2.append(silhouette_score(df_female_model2, km.predict(df_female_model2)))

In [50]:
print("[Female]")
print(f'Max. Silhouette Score:     {max(score_f2)}')
print(f'Best-Performing Combo with # of Clusters:    {interest_f2[score_f2.index(max(score_f2))]}')

[Female]
Max. Silhouette Score:     0.1657858928162739
Best-Performing Combo with # of Clusters:    attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dining,museums,art,pca_1,pca_2 k=2

In [51]:
#Add Class Information in Female Dataset
km = KMeans(n_clusters = 2)
km.fit(df_female_model2)
df_female_class = pd.DataFrame(km.labels_)
df_female_class.columns = ['class']
df_female_class.index = df_female.index
df_female_classed = pd.concat([df_female,df_female_class], axis=1)

In [59]:
df_female_classed["class"]=df_female_classed["class"].apply(lambda x:"f0" if x==0 else "f1")

In [60]:
df_female_classed

,iid,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,...,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,class
0,1,0,21.0,2.0,4.0,2.0,7.0,1.0,9.0,2.0,...,9.0,8.0,1.0,3.0,6.0,8.0,8.0,8.0,7.0,f0
1,2,0,24.0,2.0,5.0,1.0,5.0,1.0,3.0,2.0,...,8.0,3.0,1.0,4.0,7.0,5.0,10.0,8.0,3.0,f0
2,3,0,25.0,8.0,4.0,6.0,3.0,1.0,3.0,8.0,...,5.0,8.0,7.0,4.0,8.0,9.0,8.0,9.0,8.0,f0
3,4,0,23.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,7.0,1.0,8.0,1.0,7.0,8.0,9.0,7.0,8.0,f0
4,5,0,21.0,8.0,1.0,2.0,4.0,1.0,7.0,4.0,...,7.0,8.0,3.0,7.0,6.0,3.0,6.0,10.0,8.0,f0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,526,0,26.0,5.0,2.0,1.0,5.0,3.0,2.0,1.0,...,8.0,4.0,10.0,6.0,3.0,6.0,9.0,7.0,10.0,f1
270,527,0,24.0,5.0,5.0,1.0,4.0,3.0,5.0,5.0,...,8.0,7.0,6.0,1.0,10.0,10.0,10.0,10.0,10.0,f1
271,528,0,29.0,8.0,7.0,2.0,6.0,1.0,5.0,8.0,...,3.0,2.0,2.0,4.0,9.0,6.0,8.0,8.0,8.0,f0
272,529,0,22.0,4.0,1.0,2.0,4.0,1.0,7.0,4.0,...,8.0,4.0,4.0,5.0,6.0,10.0,9.0,7.0,5.0,f1
273,530,0,22.0,1.0,1.0,2.0,7.0,3.0,7.0,10.0,...,10.0,6.0,3.0,8.0,3.0,9.0,9.0,9.0,7.0,f0

In [35]:
#Clustering with KMeans - Male
df_male_model2 = df_scaled_m

interest_m2 = []
score_m2 = []

for k in range(2,11):
    km=KMeans(n_clusters=k)
    km.fit(df_male_model2)
    label = ','.join(df_male_model2.columns)+' k='+str(k)
    interest_m2.append(label)
    score_m2.append(silhouette_score(df_male_model2, km.predict(df_male_model2)))

In [36]:
print("[Male]")
print(f'Max. Silhouette Score:     {max(score_m2)}')
print(f'Best-Performing Combo with # of Clusters:    {interest_m2[score_m2.index(max(score_m2))]}')

[Male]
Max. Silhouette Score:     0.18132246954261005
Best-Performing Combo with # of Clusters:    attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,date,go_out,dining,pca_1,pca_2 k=2

In [42]:
#Add Class Information in Male Dataset
km = KMeans(n_clusters = 2)
km.fit(df_male_model2)
df_male_class = pd.DataFrame(km.labels_)
df_male_class.columns = ['class']
df_male_class.index = df_male.index
df_male_classed = pd.concat([df_male,df_male_class], axis=1)

In [61]:
df_male_classed["class"]=df_male_classed["class"].apply(lambda x:"m0" if x==0 else "m1")

In [65]:
df_male_classed.head()

,iid,gender,age,imprace,imprelig,goal,date,go_out,sports,tvsports,...,music,shopping,yoga,exphappy,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,class
0,11,1,27.0,7.0,3.0,1.0,5.0,4.0,8.0,7.0,...,8.0,5.0,1.0,7.0,8.0,9.0,7.0,8.0,5.0,m0
1,12,1,22.0,1.0,1.0,1.0,1.0,1.0,9.0,7.0,...,9.0,5.0,5.0,7.0,9.0,9.0,9.0,10.0,9.0,m1
2,13,1,22.0,3.0,5.0,2.0,7.0,1.0,7.0,8.0,...,9.0,8.0,1.0,3.0,4.0,7.0,8.0,8.0,3.0,m0
3,14,1,23.0,1.0,1.0,2.0,4.0,1.0,10.0,6.0,...,8.0,6.0,1.0,8.0,9.0,9.0,9.0,9.0,9.0,m1
4,15,1,24.0,3.0,1.0,1.0,4.0,1.0,9.0,7.0,...,7.0,2.0,1.0,5.0,7.0,7.0,7.0,9.0,9.0,m1

In [83]:
#Combine Datasets of 2 Genders for getting dictionary with {"iid": "class"}
df_combine_genders=pd.concat([df_female_classed,df_male_classed])

In [87]:
#Create Dictionary {"iid": "class"}
dict_iid_class=pd.Series(df_combine_genders["class"].values,index=df_combine_genders["iid"]).to_dict()

In [128]:
# dict_iid_class

In [92]:
len(dict_iid_class)

551

In [93]:
 #Create new column "class" in original dataframe to add class information
 df["class"]=df["iid"].apply(lambda x:dict_iid_class.get(x))

In [94]:
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3,class
0,1,1.0,0,1,1,1,10,7,NaN,4,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,f0
1,1,1.0,0,1,1,1,10,7,NaN,3,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,f0
2,1,1.0,0,1,1,1,10,7,NaN,10,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,f0
3,1,1.0,0,1,1,1,10,7,NaN,5,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,f0
4,1,1.0,0,1,1,1,10,7,NaN,7,...,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,f0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,m1
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,m1
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,m1
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,m1
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0,m1

In [102]:
# df.to_csv("df_classed.csv")